body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

@media only screen and (max-width: 425px) {
	.image_left {
		display: none;
	}

	/*#navbarResponsive_a{
    	display: block;
    	float: left;
    	overflow: hidden;
    	text-align: left;
    	position: fixed;
    	padding: 0px;
    	
	}*/
}
@media only screen and (min-width: 768px) {
	.list_b {
		display: none;
	}
	
}
@media only screen and (min-width: 1200px) {
	
}
	
	/*#navbarResponsive_b {
		display: block;
    	float: right;
    	overflow: hidden;
    	text-align: left;
    	position: fixed;
    	padding: 0px;
	}*/
}

/*::-webkit-scrollbar {
    width: 10px;
}*/
.navbar {
	background-color: white;
}
.logo {
	width: 6%;
}
.container-body {
	margin-top: 10%;
}
.item {
	color: black;
	font-size: 14pt;
}
/*.item_1 {
	margin-right: 120px;
}
.item_2 {
	margin-right: 20px;
}*/

.scrollbar{
  max-height: 400px;
  overflow-y: scroll;
}

.images_list {
	padding-bottom: 10px;
}
.page_next {
   margin-left:568px;
}


/*slide*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  margin-top: -20px;
  padding: 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 10px;
}
.prev {
	right: 10%;
}

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}*/

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/*img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}